body
{
    background-color: lightgreen;
    height: 100%;
    margin: 0;
}

.login_div
{
    background-color: azure;
    float: none;
    border-radius: 60px;
    box-shadow: 5px 5px 5px lightslategray;
}

#username
{
    border-radius: 20px;
}

.logo_FaceFake
{
    width: 80px;
	margin-top: 30px;
	border-radius: 40px;
}

.header
{
    margin-top: 140px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#user_name
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#salida
{
	padding: 10px;
    width:80%;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
}

#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}

.user_tick
{
	width:20px;
}

.message_h4
{
	padding-left:5px;color:grey;
}